<a href="https://colab.research.google.com/github/pcalexandrat/PYTHON/blob/main/AULA_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

AULA 2

In [8]:
livro_ficcao = 8
livro_n_ficcao = 10
livro_infantil = 6
pontos_rodrigo = livro_ficcao + livro_n_ficcao + livro_infantil
print(f"Os pontos totais do Rodrigo são {pontos_rodrigo}")
pontos_ana = 2 * livro_ficcao + 5 * livro_infantil
print(f"Os pontos totais de Ana são {pontos_ana}")
pontos_carlos = 1 * livro_ficcao + 3 * livro_n_ficcao + 3 * livro_infantil
print(f"Os pontos totais de Carlos são {pontos_carlos}")
pontos_totais = pontos_rodrigo + pontos_ana + pontos_carlos
print(f"Os pontos totais de Ana e Rodrigo são {pontos_totais}")

Os pontos totais do Rodrigo são 24
Os pontos totais de Ana são 46
Os pontos totais de Carlos são 56
Os pontos totais de Ana e Rodrigo são 126